/* .sprite {
  width: 16px;
  height: 16px;
} */
/*
.sprite--tree {
  background: url(../imgs/roguelike.png) no-repeat 0 -17px;
}

.sprite--floor {
  background: url(../imgs/roguelike.png) no-repeat -102px 0;
}

.sprite--stairs-up {
  background: url(../imgs/roguelike.png) no-repeat -579px -306px;
}

.sprite--stairs-down {
  background: url(../imgs/roguelike.png) no-repeat -629px -306px;
}
*/
.sprite--character {
  color: rgb(255, 237, 137);
  /* background: url(../imgs/characters.png) no-repeat 0px -187px; */
}
